:root {
  --orange: #fe7139;
  --dark: #1e2025;
}
body {
  height: 100%;
}

.container {
  background-color: white;
}
.container-dark {
  background-color: var(--dark);
}

.App {
  position: relative;
  text-align: center;
  margin: 0 90px 0 90px;
  min-height: 100vh;
}
.App-dark {
  color: white;
}

.main {
  padding-top: 45px;
  padding-bottom: 100px;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.orangeText {
  font-weight: 400;
  background-color: var(--orange);
  color: white;
  margin-right: 18px;
  height: 33px;
  width: 33px;
}

.title {
  font-weight: 900;
  margin-right: 36px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
}
.button-dark {
  color: white;
}
.button-starred {
  color: var(--orange);
  font-weight: bolder;
}

.darkModeButton {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
}

.posts {
  text-align: left;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
}

.showMore {
  border: none;
  background-color: var(--orange);
  color: white;
  display: flex;
  font-size: 14px;
  padding: 10px;
  margin-left: 40px;
  margin-bottom: 50px;
  cursor: pointer;
}
