
:root {
  --orange: #FE7139;
}

.App {
  position: relative;
  text-align: center;
  margin: 45px 90px 30px 90px;
  min-height: calc(100vh - 75px);
}

.main {
  padding-bottom: 100px;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.orangeText {
  font-weight: 400;
  background-color: var(--orange);
  color: white;
  margin-right: 18px;
  height: 33px;
  width: 33px;
}

.title {
  font-weight: 900;
  margin-right: 36px;
}

.buttonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
}
.button-starred{
  color: var(--orange);
  font-weight: bolder;
}

.posts {
  text-align: left;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.showMore {
  border: none;
  background-color: var(--orange);
  color: white;
  display: flex;
  font-size: 14px;
  padding: 10px;
  margin: 25px 40px;
  cursor: pointer;
}