
:root {
  --orange: #FE7139;
}

.App {
  text-align: center;
  margin: 50px 90px;
}

.header {
  display: flex;
  flex-direction: row;
}

.orangeText {
  font-weight: 400;
  background-color: var(--orange);
  color: white;
  margin-right: 18px;
  height: 33px;
  width: 33px;
}

.title {
  font-weight: 900;
  margin-right: 36px;
}

.button {
  border: none;
  background: none;
}

.posts {
  text-align: left;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  margin-bottom: 29px;
}

.showMore {
  border: none;
  background-color: var(--orange);
  color: white;
  display: flex;
  font-size: 14px;
  padding: 10px;
  margin: 25px 40px;
}